---
layout: default
---

<div class="posts">
  <div class="site_02">
<!-- default setting -->
  <!--{% for post in site.posts %}-->
  <!--  <article class="post">-->

  <!--    <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}, {{ post.date | date: '%Y' }}, {{ post.material }}, {{ post.size }}</a></h1>-->

  <!--  </article>-->
  <!--{% endfor %}-->


<!--post sorts logic for "site 01"-->
    {% assign tags = "parkingspot|stairs|cross|cube|building|playground|puppy|grid|trapezoid|edges|woman|Color-Index-#2|Color-index-#1|untitled" | split: "|" %}
    {% for tag in tags %}
      <article>
        {% for post in site.posts %} 
          {% if post.tags contains tag %} 
            <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}, {{ post.date | date: '%Y' }}, {{ post.material }}, {{ post.size }}</a></h1>
          {% endif  %}
        {% endfor %}
      </article>
    {% endfor %}

  <!--nightscape section-->
  <article>
      {% for post in site.posts %}
        {% if post.tags contains 'nightscape' and post.tags contains 'square'  %}
          <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}, {{ post.date | date: '%Y' }}, {{ post.material }}, {{ post.size }}</a></h1>
        {% endif  %}
      {% endfor %}
  </article>

  <!--nightscape section-->
  <article>
      {% for post in site.posts %}
        {% if post.tags contains 'nightscape' and post.tags contains 'landscape' %}
          <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}, {{ post.date | date: '%Y' }}, {{ post.material }}, {{ post.size }}</a></h1>
        {% endif  %}
      {% endfor %}
  </article>

  <!--still mute section-->
  <article>
      {% for post in site.posts %}
        {% if post.tags contains 'still-mute' %}
          <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}, {{ post.date | date: '%Y' }}, {{ post.material }}, {{ post.size }}</a></h1>
        {% endif  %}
      {% endfor %}
  </article>
  </div>
<!--end of post sorts logic for "site 01"-->

  <!-- add test for sort by custom number -->

<!-- <article class="post">
  {% for post in site.categories.parkingspot %}
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}, {{ post.date | date: '%Y' }}, {{ post.material }}, {{ post.size }}</a></h1>
  {% endfor %}
</article> -->

<!-- end test -->
</div>
