---
layout: default
---

<script src="{{ site.baseurl }}/freewall-1.0.6/freewall.js" ></script>

<div id="container" style="width: 90%; margin: auto;">
  {% assign sorted = (site.posts | sort: "order") %}
  {% for post in sorted %}
  {% if post.categories contains "thumbnail" %}
  <div class="item">
    <img src="{{ site.baseurl }}{{ post.thumbnail }}" />
    <p>{{ post.title }}</p>
  </div>
  {% endif %}
  {% endfor %}

  {{ postList }}
</div>

<script>
  $("body").addClass("yellow");
  $("#link_02").addClass("underline");
  $(function() {
    var wall = new Freewall("#container");
    wall.reset({
      selector: '.item',
      cellW: 500,
      cellH: 'auto',
      gutterX: 80,
      gutterY: 80,
      onResize: function() {
        wall.fitWidth();
      }
    });
    wall.fitWidth();
  });
</script>
