---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);
// Syntax highlighting @import is at the bottom of this file

body {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: calc(0.7vw + 15px);
    line-height: 157%;
    margin: 1vmax;
}

// styles for site_01

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: line-through;
}

.wrapper-masthead, .wrapper-masthead .container {
    height: calc(4vmax + 16px);
    min-height: 60px;
}

.wrapper-masthead .container, .post #title {
    position: fixed;
}

.container {
    width: calc(100vw - 2.5rem);
}

.site-info, nav {
    width: 25vw;
}

.site-info {
    float: left;
}

nav {
    float: right;
    text-align: right;
}

article p img {
    width: 70vw;
    text-align: center;
    min-width: 300px;
}

article.post .entry p {
    text-align: center;
}

.posts .site_01 article {
    margin-bottom: 1.5vh;
}

.posts .site_01 article :hover {
    text-decoration: underline
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
