---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

body {
  color: $black;
  margin: 5px;
}

h1 {
 font-size: 15px;
 font-weight: bold;
 line-height: 140%;
 margin-bottom: 10px;
 
}

a {
  color: $black;
  text-decoration: underline;
	cursor: pointer;
  &:hover, &:active {
    color: $black;
  }
}

.wrapper-masthead, #title, header {
 height: 20px;
 top: 0;
 left: 0;
 width: 100%;
}

.wrapper-masthead {
 position: static;
 margin: 2px;
}

header {
  position: fixed;
  z-index: 9999;
}

#title {
  position: fixed;
  z-index: 9999;
  margin-top: 22px;
  padding-left: 5px;
}

.site-info {
 float: left;
 padding-left: 5px;
}

nav {
 float: right;
 padding-right: 5px;
 text-align: right;
}

.container, .entry {
	margin-top: 2px;
}

.container {
  position: relative;
  max-width: 800px;
  width: 100%;
}

.container img {
  width: 100%;
  height: auto;
  padding-left:20%;
  padding-right: 20%;
  padding-top: 10px;

    @include mobile {
      margin-left: 0%;
      margin-right: 0%;
    }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
