---
layout: default
---

<article class="post">
  <!--<div id="title"><h1>{{ page.title }},  {{ page.date | date: '%Y' }}, {{ page.material }}, {{ page.size }}</a></h1></div>-->
<div id="title">
      {% for post in site.posts %} <!-- 포스트 전체 리스트를 호출한다 -->
        {% if post.tags contains page.tags[0] %} <!-- 호출된 포스트 리스트 중 현재 포스트의 태그가 포함된 포스트를 걸러낸다 -->
          {% if post.tags contains page.tags[1] %}
            <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}, {{ post.date | date: '%Y' }}, {{ post.material }}, {{ post.size }}</a></h1>
          {% endif %}
        {% endif  %}
      {% endfor %}
</div>

  <div class="entry">
    {{ content }}
    <div class="entry-footer">
      <h1>Tags: {{ page.tags | sort | join: ", " }}</h1>
    </div>
  </div>

  {% include disqus.html %}
</article>
